
/* Style for the dropdown button */
.btn-primary {
  background-color: black;
  color: wheat;
}

/* Style for the dropdown menu */
.dropdown-menu {
  background-color: rgb(180, 180, 185);
}

/* Style for the dropdown items */
.dropdown-item {
  color: black;
}

/* Hover state styles for the dropdown items */
.dropdown-item:hover {
  background-color: blue;
  color: white;
}

body {
    font-family: Arial;
  }
  * {
    box-sizing: border-box;
  }
  .openBtn {
    background: #f1f1f1;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
  }
  .openBtn:hover {
    background: #bbb;
  }
  .overlay {
    margin-top: 100px;
    margin-left: 850px;
    height: 90%;
    width: 30%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
  }
  .overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
  }
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
  }
  .overlay .closebtn:hover {
    color: #ccc;
  }
  .overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
  }
  .overlay input[type=text]:hover {
    background: #f1f1f1;
  }
  .overlay button {
    float: left;
    width: 20%;
    padding: 15px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  .overlay button:hover {
    background: #bbb;
  }

